.primary-link {
  background-color: aliceblue;
  padding: 16px 32px;
}

nav a {
  margin-right: 16px;
}

nav a.active {
  text-decoration: none;
  font-weight: bold;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.button-block {
  display: block;
  margin: 25px 0px;
}

.table-title {
  text-align: center;
  margin-bottom: 25px;
}

.saerch-input {
  padding: 5px;
  display: block;
  border: 1px solid #bbb;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 20px;
}

.no-button {
  background-color: #ddd !important;
  color: #111 !important;
  border: none !important;
  margin-right: 20px;
}

.no-button:hover {
  background-color: #ccc !important;
}

.yes-button {
  background-color: red !important;
  border: none !important;
}

.yes-button:hover {
  background-color: crimson !important;
}

.pag-container {
  margin: 15px;
}

.pag-button {
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-right: 15px;
}

.pag-button:hover {
  background-color: #ccc;
}

.forgot-password {
  display: block;
  margin-bottom: 10px;
}
